
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.fira-sans-font{
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: normal;
  }


  *{
    margin:0px;
  }

/* common style */

.primary-color{
    color:#0E0E0E;
}

.second-btn{
    background-color:#006A50;
    border:none;
    border-radius:7px;
    padding:15px 30px;
    font-size:15px;
    font-weight:580;
    color:white;
}

.description{
    color:rgba(14, 14, 14, 0.7);
    font-size:14px;
}


/* nav style */

nav{
    display:flex;
    align-items:center;
    justify-content:space-between;
    margin:30px 140px;
}

.nav-title{
    font-size:28px;
font-weight:bold;
}

.first-btn{
    color:#006A50;
    background-color:white;
    font-weight:700;
    font-size:18px;
    padding:15px 30px;
    border:1.5px solid #006A50;
    border-radius:8px;
}


/* banner-style */

.banner{
display:flex;
align-items:center;
justify-content:space-between;
background-color:#C6E4D6;
border-radius:20px;
margin:30px 140px;
padding:75px 45px;
gap:20px;
}

.banner-content{
    max-width:615px;
}
.banner-head{
    font-size:18px;
    font-weight:470px;
    color:rgba(14, 14, 14, 0.5);
}

.banner-title{
    font-size:45px;
    font-weight:bold;
    margin:12px 0px 20px 0px;
}

.banner-image{
    width:475px;
    height:400px;
}

/* vision section style */

.vision{
    margin:50px 140px;
}

.vision-title{
    font-size:30px;
    font-weight:bold;
}

.vision-description{
    margin:20px 0px;
    line-height:20px;
}

.plan-container{
    display:flex;
    gap:20px;
}

.plan{
    padding:25px;
    background-color: aqua;
    border-radius:12px;
}

.plan-title{
    margin-top:20px;
    font-size:15px;
    font-weight:bold;
    color:rgba(14, 14, 14, 0.8);
}
.plan-description{
    margin:10px 0px 20px 0px;
}