
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.fira-sans-font{
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: normal;
  }


  *{
    margin:0px;
  }

  body{
    background-color:rgba(245, 245, 245, 1);
  }

/* common style */

.primary-color{
    color:#0E0E0E;
}

.second-btn{
    background-color:#006A50;
    border:none;
    border-radius:7px;
    padding:15px 30px;
    font-size:15px;
    font-weight:580;
    color:white;
}

.description{
    /* color:rgba(14, 14, 14, 0.7); */
    font-size:14px;
    line-height:20px;
}

.title-font{
    font-size:30px;
    font-weight:bold;
}


/* nav style */

nav{
    display:flex;
    align-items:center;
    justify-content:space-between;
    margin:30px 140px;
}

.nav-title{
    font-size:28px;
font-weight:bold;
}

.first-btn{
    color:#006A50;
    background-color:rgba(245, 245, 245, 1);
    font-weight:700;
    font-size:18px;
    padding:15px 30px;
    border:1.5px solid #006A50;
    border-radius:8px;
}


/* banner-style */

.banner{
display:flex;
align-items:center;
justify-content:space-between;
background-color:#C6E4D6;
border-radius:20px;
margin:30px 140px;
padding:75px 45px;
gap:20px;
}

.banner-content{
    max-width:615px;
}
.banner-head{
    font-size:18px;
    font-weight:470px;
    color:rgba(14, 14, 14, 0.5);
}

.banner-title{
    font-size:45px;
    font-weight:bold;
    margin:12px 0px 20px 0px;
}

.banner-image{
    width:475px;
    height:400px;
}

/* vision section style */

.vision{
    margin:50px 140px;
}

.vision-description{
    margin:20px 0px;
    line-height:20px;
}

.plan-container{
    display:flex;
    gap:20px;
}

.plan{
    padding:25px;
    background-color: aqua;
    border-radius:12px;
    max-width:280px;
}

.plan-title{
    margin-top:20px;
    font-size:15px;
    font-weight:bold;
    color:rgba(14, 14, 14, 0.8);
}

.plan-description{
    margin:10px 0px 20px 0px;
}

.third-btn{
    border:none;
    border-radius:7px;
    font-size:14px;
    font-weight:550;
    color:white;
    background-color:green;
    padding:10px 16px;
}

.first-plan{
    background-color:rgba(84, 144, 245, 0.2);
}

.second-plan{
    background-color: rgba(198, 228, 214, 1);
}

.third-plan{
    background-color: rgba(247, 235, 207, 1);
}

.plan-btn1{
    background-color: rgba(84, 144, 245, 1);
}

.plan-btn2{
    background-color:rgba(9, 161, 92, 1);
}

.plan-btn3{
    background-color:rgba(255, 194, 57, 1);
}


/* speech style */

.speech-container{
    margin:0px  140px;
    background-color:white;
    border:1px solid rgb(213, 213, 213);
    border-radius:10px;
    background-image:url('../assets/quote-bg.png');
    background-repeat:no-repeat;
    /* background-position:left center; */
    padding:40px 18px;
}


/* satellite news style */

.satellite-container{
    margin:50px 140px;
}

.news-description{
    margin:20px 0px;
}

.satellite{
    display:flex;
    padding:45px 40px;
    background-color:white;
    border-radius:10px;
}

.satellite-title{
    font-size:25px;
    font-weight:bold;
    color:rgba(14, 14, 14, 0.8);
}